﻿@using V8Media.Framework.Utilities.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="da" ng-app="appTimeTracker">
    <head>
        @Html.Partial("~/Views/Partials/HtmlHead/HeaderTags.cshtml")
        @Html.Action("RenderStyles", "ScriptsAndStyles", true)
        <script src="~/scripts/vendor/foundation/modernizr.js"></script>
        @Html.Action("RenderScripts", "ScriptsAndStyles", true)
		@Html.Partial("~/Views/Partials/HtmlHead/GoogleAnalytics.cshtml")
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/scripts/styles/normalize.css">
        <link rel="stylesheet" href="/scripts/styles/fontello.css">
        <link rel="stylesheet" href="/scripts/styles/style.css">
        <link rel="stylesheet" href="/scripts/styles/angular-chart.css">
    </head>
    <body>
        <div class="canvas__wrap">
            <div class="canvas__inner">
                <div class="canvas__main">
                    <header>
                        @Html.Partial("~/Views/Partials/Header/Navigation.cshtml")
                    </header>

                    @RenderBody()

                    <footer>
                        <div class="row">
                            <div class="column small-12">
                                @Html.Partial("~/Views/Partials/Footer/FooterLinks.cshtml")
                            </div>
                        </div>
                    </footer>

                    <div class="canvas__overlay canvas-toggle"></div>
                </div>
                <div class="canvas__offcanvas">
                    @Html.Partial("~/Views/Partials/OffCanvas/NavigationOffCanvas.cshtml")
                </div>
            </div>
        </div>
        <!-- Libraries -->
        <script type="text/javascript" src="/scripts/scripts/angular.js"></script>
        <script type="text/javascript" src="/scripts/scripts/angular-route.js"></script>
        <!--<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>-->
        <script type="text/javascript" src="/scripts/scripts/firebase.js"></script>
        <!--<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.js"></script>-->
        <script type="text/javascript" src="/scripts/scripts/angularfire.js"></script>
        <script type="text/javascript" src="/scripts/scripts/Chart.js"></script>
        <script type="text/javascript" src="/scripts/scripts/angular-chart.js"></script>
        <script type="text/javascript" src="/scripts/scripts/moment.js"></script>

        <!-- App -->
        <script type="text/javascript" src="/app/app.js"></script>
        <script type="text/javascript" src="/app/controllers/appController.js"></script>
        <script type="text/javascript" src="/app/controllers/trackerController.js"></script>
        <script type="text/javascript" src="/app/controllers/logsController.js"></script>
        <script type="text/javascript" src="/app/controllers/projectsController.js"></script>
        <script type="text/javascript" src="/app/controllers/statisticsController.js"></script>
        <script type="text/javascript" src="/app/services/statusFactory.js"></script>
        <script type="text/javascript" src="/app/services/logsFactory.js"></script>
        <script type="text/javascript" src="/app/services/projectsFactory.js"></script>
        <script type="text/javascript" src="/app/services/values.js"></script>
    </body>
</html>