﻿@using V8Media.Framework.Models.PublishedContent
@inherits UmbracoTemplatePage<Home>	
@{
    Layout = "Base.cshtml";
}

<div class="row">
    <div class="column small-12">
        <h1>@Model.Content.Header</h1>
        @Html.Raw(Model.Content.BodyText)
    </div>
</div>
<div class="row">
    <div class="column small-12">
        <div class="wrapper" ng-controller="AppController" ng-cloak class="ng-cloak">

            <!--
        <div id="login" ng-show="!isRegistered">
            <div class="align-center">
                <h1>{{ ::appSettings.applicationName }}</h1>
                <form ng-submit="signIn(userName)">
                    <input type="text" ng-model="userName" class="input" placeholder="Choose a username..." />
                    <input type="submit" class="button button-inline button-blue" value="Start tracking!" />
                </form>
            </div>
        </div>
        -->

            <div id="app">

                <div class="tracker clear" ng-controller="TrackerController" ng-class="{ loading: !loaded }">
                    <div class="actions align-center">
                        <span class="counter">{{ counter }}</span>
                        <button class="button button-inline button-large button-green" ng-click="startTracker()" ng-if="!status.active"><i class="icon-play"></i> Start</button>
                        <button class="button button-inline button-large button-red" ng-click="stopTracker()" ng-if="status.active"><i class="icon-stop"></i> Stop</button>
                    </div>
                    <div class="form">
                        <div class="form-row">
                            <label>Project:</label>
                            <select class="input" ng-model="status.activeProjectId" ng-change="status.$save(status)" ng-disabled="status.active" ng-class="{ disabled: status.active }">
                                <option ng-selected="{{project.id == status.activeProjectId}}" ng-repeat="project in projectsConverted" value="{{project.id}}">{{project.name}}</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Notes:</label>
                            <input type="text" ng-model="status.notes" ng-change="status.$save(status)" class="input border-bottom" placeholder="Type your note..." />
                        </div>
                    </div>
                </div>

                <div class="container clear">
                    <nav>
                        <ul>
                            <li ng-class="{ active: navIsActive('/') }"><a href="#/"><i class="icon-logs"></i>Logs</a></li>
                            <li ng-class="{ active: navIsActive('/projects') }"><a href="#/projects"><i class="icon-projects"></i>Projects</a></li>
                            <li ng-class="{ active: navIsActive('/statistics') }"><a href="#/statistics"><i class="icon-stats"></i>Statistics</a></li>
                        </ul>
                    </nav>
                    <main>
                        <div ng-view></div>
                    </main>
                </div>

                <footer>
                    <strong>{{ ::appSettings.applicationName }}</strong> - <a href="{{ appSettings.applicationUrl }}" target="_blank">about this project</a>
                    <br />
                    Developed by <a href="{{ ::appSettings.developerUrl }}" target="_blank">{{ ::appSettings.developerName }}</a>
                </footer>

            </div>
        </div>
    </div>
</div>