﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Linq;
@using V8Media.Framework.Models.PublishedContent
@using V8Media.Framework.Utilities.Extensions
@{
    Layout = null;
    Response.ContentType = "text/xml";
}<?xml version='1.0' encoding='UTF-8' ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemalocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
@foreach (var item in @Model.Content.Website().Children.OfType<Menu>().Where(m => !m.HideInSitemap))
    {
        @ListChildNodes(item)
    }
</urlset>
 
@helper ListChildNodes(Menu startNode)
{
            <url>
                <loc>@startNode.Url.MakeAbsolutUrl()</loc>
                <lastmod>@(string.Format("{0:s}+00:00", startNode.UpdateDate))</lastmod>
                <changefreq>@startNode.SitemapFrequency.ToLower()</changefreq>
                <priority>@startNode.SitemapPriority</priority>
            </url>      
    foreach (var item in @startNode.Children.OfType<Menu>().Where(m => !m.HideInSitemap))
    {
     @ListChildNodes(item)
    }
}
 
